@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  /* Typography */
  --font-family: 'Poppins', sans-serif;
  --font-size-xs: 12px;
  --font-size-s: 16px;
  --font-size-m: 20px;
  --font-size-l: 32px;

  /* Color palette */
  --color-palette-white: #ffffff;
  --color-palette-black: #272629;
  --color-palette-gray: #585454;
  --color-palette-light-gray: #c4baba;
  --color-palette-super-light-gray: #f1ecec;
  --color-palette-red: #cb3434e9;
  --color-palette-green: #49bd49;
  --color-palette-blue: #6161c2;

  /* Semantic colors */
  --color-title: var(--color-palette-black);
  --color-text: var(--color-palette-gray);
  --color-danger: var(--color-palette-red);
  --color-success: var(--color-palette-green);
  --color-action: var(--color-palette-blue);
  --color-border: var(--color-palette-light-gray);

  /* Space */
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 20px;
  --space-l: 32px;
  --space-xl: 52px;

  /* Animation */
  --anim-duration-fast: 0.1s;
  --anim-duration-medium: 0.25s;
  --anim-duration-slow: 0.5s;
}
