.root {
  background-color: var(--color-palette-gray-200);
  min-height: 100vh;
  padding: var(--space-l) 0 var(--space-xl);
}

.large-stack {
  display: grid;
  gap: var(--space-xl);
}

.text-stack {
  display: grid;
  gap: var(--space-s);
}

.text-stack > * {
  min-width: 0;
}

img {
  max-width: 100%;
  width: 100%;
}

img:not(:first-child) {
  margin-top: var(--space-m);
}
