.text {
  font-family: var(--font-family);
  line-height: 1.6;
  font-weight: normal;
  color: var(--color-text);
  margin: 0;
}

.size-l {
  font-size: var(--font-size-m);
}

.size-m {
  font-size: var(--font-size-s);
}

.size-s {
  font-size: var(--font-size-xs);
}

.text a,
.text ::slotted(a) {
  color: var(--color-action);
}

.text code,
.text ::slotted(code) {
  font-family: monospace;
}
